body {
    font-family: Helvetica;
}

.CarContent1 {
    background-color: #F1F3FF;
    overflow: hidden;
}

.CarContent1 .Col1 {
    margin-bottom: 8em;
}

.filter {
    top: -3em;
}


.render {
    font-family: Helvetica;
}

.harga {
    font-weight: bold;
}

.container.render .card.p-4 {
    position: relative;
    margin-bottom: 2em;

}

#gambar {
    position: relative;
    width: 20em;
    height: 17em;
    overflow: hidden;
    object-fit: cover;
}

/* card */
.cars .card-cars{
	width: 333px;
	height: 586px;
	background: #FFFFFF;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
	border-radius: 8px;
	padding: 24px;
}  
  
.cars .card-cars .cars-img{
	width: 100%;
	height: 15vw;
	border-radius: 2px;
	object-fit: cover;
	margin-bottom: 40px;
}

.cars .card-cars h5{
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.cars .card-cars h3 {
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
}

.cars .card-cars p {
	font-size: 14px;
	line-height: 20px;
	color: #000000;
}

.cars .card-cars .spec-cars-detail{
	margin-bottom: 24px;
}

.cars .card-cars .spec-cars-detail .spec-detail{
	margin-bottom: 16px;
}

.cars .card-cars .spec-cars-detail .spec-detail .spec-img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.cars .card-cars .choose-cars .btn-choose-cars{
	width: 285px;
	height: 48px;
	background: #5CB85F;
	border-radius: 3px;
}

.cars .card-cars .choose-cars .btn-choose-cars:hover {
	background-color: #439b46;
}

.cars .card-cars .choose-cars .btn-choose-cars a {
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;
	text-decoration: none;
}
